* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1117;
  color: #e6edf3;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 16px;
  padding: 2.5rem;
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 1000px;
  text-align: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.btn {
  background-color: #58a6ff;
  color: #0d1117;
  border: none;
  border-radius: 8px;
  padding: 0.85rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.result-card {
  margin-top: 1.5rem;
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 12px;
  padding: 1.5rem;
}

.pm25-label {
  font-size: 2rem;
  font-weight: 700;
  color: #58a6ff;
  padding-bottom: 20px;
}

.level-unknown {
  color: #8b949e;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.level-good {
  color: #2ea043;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.level-moderate {
  color: #f0c000;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.level-unhealthy-sensitive {
  color: #f85149;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.level-unhealthy {
  color: #d11c24;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.level-very-unhealthy {
  color: #ff000d;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.loading {
  margin-top: 1.5rem;
  color: #8b949e;
}

.error {
  margin-top: 1.5rem;
  color: #f85149;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.logo {
  width: 80px;
  height: 80px;
  max-width: 100px;
}

/* Email */

.subscribe-card {
  margin-top: 1.5rem;
  border-radius: 12px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.user-input {
  margin: 5px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

.subscribe-btn {
  margin: 5px;
  padding: 8px;
  background-color: #58a6ff;
  color: #0d1117;
  border: none;
  border-radius: 8px;
  font-size: medium;
  font-weight: 200;
}

.get-email {
  margin-bottom: 20px;
  font-size: 25px;
}
